In [2]:
import pandas as pd
import numpy as np
import ast
import json
from datetime import datetime

In [3]:
filas2=[]
with open('australian_users_items.json', encoding='utf-8') as a:
    for linea in a.readlines():
        filas2.append(ast.literal_eval(linea))

items = pd.DataFrame(filas2)

In [5]:
items.to_pickle("items.pkl")

In [3]:
items = pd.DataFrame(filas2)

In [5]:
#items.to_pickle("items.pkl")

In [6]:
items2 = pd.read_pickle('items.pkl')

In [7]:
items['items_count'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 88310 entries, 0 to 88309
Series name: items_count
Non-Null Count  Dtype
--------------  -----
88310 non-null  int64
dtypes: int64(1)
memory usage: 690.0 KB

In [6]:
items_count = items[['user_id', 'items_count', 'steam_id', 'user_url']]
items_count.to_pickle('items_count.pkl')

In [5]:
items_count

,user_id,items_count,steam_id,user_url
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr
...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick

In [8]:
a = list(items['items'])# tiene la lista de los items (lista de listas) 88310
listalarga = [item for sublist in a for item in sublist]    # esta lista es una lista con todos las reviews de dimension mayor a "a" 5153209
lista_n = [len (q) for q in a]  # esta lista tiene la cantidad n de reviews hechas por cada usuario. dimension = a 'a'88310
lista_usuarios = list(items['user_id'])   #dimension = a 'a' 88310
lista_items_counts = list(items['items_count'])

In [9]:
dfjuntado = pd.DataFrame(listalarga)

In [10]:

def repetir_elementos(lista_n, lista_u):
    resultado = []
    for i in range(len(lista_n)):
        resultado.extend([lista_u[i]] * lista_n[i])
    return resultado

In [11]:

listadf = repetir_elementos(lista_n, lista_usuarios)
dfjuntado = pd.DataFrame(listalarga)
dfjuntado.insert(0,'user_id', listadf)

In [13]:
dfjuntado['item_id'] = dfjuntado['item_id'].astype(int)

KeyboardInterrupt

In [15]:
dfjuntado.to_pickle("dfitems.pkl")