In [3]:
import pandas as pd
import numpy as np
import ast
import json
from datetime import datetime

In [16]:
#dfreviews = pd.read_pickle('dfjuntado.pkl') # Desglosa la columna reviews de la tabla reviews, presenta solo las columnas que estan adentro de reviews.
#user_id	funny   posted  last_edited     item_id     recommend    review

dfitems = pd.read_pickle('dfitems.pkl') # Desglosa la columna items de la tabla items, retorna solo los items.
#user_id     item_id     item_name   playtime_forever    playtime_2weeks

#items_count = pd.read_pickle('items_count') # es la tabla items pero sin la columna items.
#user_id     items_count     steam_id    user_url

steams = pd.read_pickle('steams.pkl') # es la tabla steams


#respuesta3 = pd.read_pickle('respuesta3.pkl')

In [21]:
steams.rename(columns={'id':'item_id'}, inplace=True)
steams['item_id'] = steams['item_id'].astype(int)
steams.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27462 entries, 88310 to 120443
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     22818 non-null  object
 1   genres        27462 non-null  object
 2   app_name      27462 non-null  object
 3   title         27462 non-null  object
 4   url           27462 non-null  object
 5   release_date  27462 non-null  object
 6   tags          27449 non-null  object
 7   reviews_url   27462 non-null  object
 8   specs         27182 non-null  object
 9   price         27462 non-null  float64
 10  early_access  27462 non-null  object
 11  item_id       27462 non-null  int32
 12  developer     27462 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 2.8+ MB

In [22]:
steams = steams[['price','item_id']]
dinero = dfitems.merge(steams, on = 'item_id', how='inner')
dinero = dinero.groupby(['user_id']).sum().reset_index()
dinero = dinero[['user_id', 'price']]
dinero = dinero.rename(columns={'price':'suma_dinero_gastado'})
dinero

                 user_id  suma_dinero_gastado
0                --000--               397.78
1                --ace--               166.82
2              --ionex--                99.93
3           -2SV-vuLB-Kg               427.50
4      -404PageNotFound-              1509.32
...                  ...                  ...
68585             zzonci                19.98
68586        zzoptimuszz                64.98
68587            zzydrax                99.94
68588              zzyfo               813.53
68589         zzzmidmiss               443.68

[68590 rows x 2 columns]

In [23]:
#dinero.to_pickle('dinero.pkl')
dinero.to_csv('dinero.csv')