In [1]:
import pandas as pd
import numpy as np
import ast
import json
from datetime import datetime

In [2]:
dfitems = pd.read_pickle('dfitems.pkl') # Desglosa la columna items de la tabla items, 
#user_id     item_id     item_name   playtime_forever    playtime_2weeks

In [5]:
items_count = pd.read_pickle('items_count') # es una la tabla items pero sin la columna items.
#user_id     items_count     steam_id    user_url

In [14]:
items_data = items_count[['user_id', 'user_url']]
items_data.to_pickle('items_data.pkl')

In [32]:
dfitems = dfitems.merge(items_data, how='inner', on= 'user_id')
dfitems

,user_id,item_id,item_name,playtime_forever,user_url
0,76561197970982479,10,Counter-Strike,6,http://steamcommunity.com/profiles/76561197970...
1,76561197970982479,20,Team Fortress Classic,0,http://steamcommunity.com/profiles/76561197970...
2,76561197970982479,30,Day of Defeat,7,http://steamcommunity.com/profiles/76561197970...
3,76561197970982479,40,Deathmatch Classic,0,http://steamcommunity.com/profiles/76561197970...
4,76561197970982479,50,Half-Life: Opposing Force,0,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...
5513726,76561198329548331,346330,BrainBread 2,0,http://steamcommunity.com/profiles/76561198329...
5513727,76561198329548331,373330,All Is Dust,0,http://steamcommunity.com/profiles/76561198329...
5513728,76561198329548331,388490,One Way To Die: Steam Edition,3,http://steamcommunity.com/profiles/76561198329...
5513729,76561198329548331,521570,You Have 10 Seconds 2,4,http://steamcommunity.com/profiles/76561198329...
5513730,76561198329548331,519140,Minds Eyes,3,http://steamcommunity.com/profiles/76561198329...

In [33]:
steams = pd.read_pickle('steams.pkl') # es la tabla steams

In [21]:
steams

        item_id                                             genres
88310    761140      [Action, Casual, Indie, Simulation, Strategy]
88311    643980               [Free to Play, Indie, RPG, Strategy]
88312    670290  [Casual, Free to Play, Indie, Simulation, Sports]
88313    767400                        [Action, Adventure, Casual]
88315    772540                    [Action, Adventure, Simulation]
...         ...                                                ...
120439   745400                 [Action, Adventure, Casual, Indie]
120440   773640              [Casual, Indie, Simulation, Strategy]
120441   733530                          [Casual, Indie, Strategy]
120442   610660                        [Indie, Racing, Simulation]
120443   658870                                    [Casual, Indie]

[27462 rows x 2 columns]

In [34]:
dfitems

,user_id,item_id,item_name,playtime_forever,user_url
0,76561197970982479,10,Counter-Strike,6,http://steamcommunity.com/profiles/76561197970...
1,76561197970982479,20,Team Fortress Classic,0,http://steamcommunity.com/profiles/76561197970...
2,76561197970982479,30,Day of Defeat,7,http://steamcommunity.com/profiles/76561197970...
3,76561197970982479,40,Deathmatch Classic,0,http://steamcommunity.com/profiles/76561197970...
4,76561197970982479,50,Half-Life: Opposing Force,0,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...
5513726,76561198329548331,346330,BrainBread 2,0,http://steamcommunity.com/profiles/76561198329...
5513727,76561198329548331,373330,All Is Dust,0,http://steamcommunity.com/profiles/76561198329...
5513728,76561198329548331,388490,One Way To Die: Steam Edition,3,http://steamcommunity.com/profiles/76561198329...
5513729,76561198329548331,521570,You Have 10 Seconds 2,4,http://steamcommunity.com/profiles/76561198329...
5513730,76561198329548331,519140,Minds Eyes,3,http://steamcommunity.com/profiles/76561198329...

In [35]:
#dfitems
dfitems['item_id'] = dfitems['item_id'].astype(int)
dfitems

,user_id,item_id,item_name,playtime_forever,user_url
0,76561197970982479,10,Counter-Strike,6,http://steamcommunity.com/profiles/76561197970...
1,76561197970982479,20,Team Fortress Classic,0,http://steamcommunity.com/profiles/76561197970...
2,76561197970982479,30,Day of Defeat,7,http://steamcommunity.com/profiles/76561197970...
3,76561197970982479,40,Deathmatch Classic,0,http://steamcommunity.com/profiles/76561197970...
4,76561197970982479,50,Half-Life: Opposing Force,0,http://steamcommunity.com/profiles/76561197970...
...,...,...,...,...,...
5513726,76561198329548331,346330,BrainBread 2,0,http://steamcommunity.com/profiles/76561198329...
5513727,76561198329548331,373330,All Is Dust,0,http://steamcommunity.com/profiles/76561198329...
5513728,76561198329548331,388490,One Way To Die: Steam Edition,3,http://steamcommunity.com/profiles/76561198329...
5513729,76561198329548331,521570,You Have 10 Seconds 2,4,http://steamcommunity.com/profiles/76561198329...
5513730,76561198329548331,519140,Minds Eyes,3,http://steamcommunity.com/profiles/76561198329...

In [36]:
steams = steams[['id', 'genres' ]]
steams ['id'] = steams['id'].astype(int)
steams = steams.rename(columns={'id': 'item_id'})
steams

        item_id                                             genres
88310    761140      [Action, Casual, Indie, Simulation, Strategy]
88311    643980               [Free to Play, Indie, RPG, Strategy]
88312    670290  [Casual, Free to Play, Indie, Simulation, Sports]
88313    767400                        [Action, Adventure, Casual]
88315    772540                    [Action, Adventure, Simulation]
...         ...                                                ...
120439   745400                 [Action, Adventure, Casual, Indie]
120440   773640              [Casual, Indie, Simulation, Strategy]
120441   733530                          [Casual, Indie, Strategy]
120442   610660                        [Indie, Racing, Simulation]
120443   658870                                    [Casual, Indie]

[27462 rows x 2 columns]

In [67]:
items_join = dfitems.merge(steams, how= 'inner', on = 'item_id')
items_join

,user_id,item_id,item_name,playtime_forever,user_url,genres
0,76561197970982479,10,Counter-Strike,6,http://steamcommunity.com/profiles/76561197970...,[Action]
1,js41637,10,Counter-Strike,0,http://steamcommunity.com/id/js41637,[Action]
2,Riot-Punch,10,Counter-Strike,0,http://steamcommunity.com/id/Riot-Punch,[Action]
3,doctr,10,Counter-Strike,93,http://steamcommunity.com/id/doctr,[Action]
4,corrupted_soul,10,Counter-Strike,108,http://steamcommunity.com/id/corrupted_soul,[Action]
...,...,...,...,...,...,...
4385209,peter1023199,456780,DUCATI - 90th Anniversary,6,http://steamcommunity.com/id/peter1023199,"[Racing, Simulation, Sports]"
4385210,76561198071808318,444770,Mimpi Dreams,46,http://steamcommunity.com/profiles/76561198071...,"[Adventure, Indie]"
4385211,76561198081168593,375450,NOBUNAGA'S AMBITION: Souzou SengokuRisshiden,51,http://steamcommunity.com/profiles/76561198081...,[Strategy]
4385212,76561198107283457,354280,ChaosTower,164,http://steamcommunity.com/profiles/76561198107...,"[Action, Casual, Indie, Simulation]"
4385213,inven,433920,Aveyond 4: Shadow Of The Mist,0,http://steamcommunity.com/id/inven,"[Adventure, Indie, RPG]"

In [68]:
item_genres = pd.read_pickle('item_genres.pkl')
item_join = items_join.merge(item_genres, how='left', on='item_id')
item_join.drop(columns='genres_x', inplace=True)

In [69]:
item_join = item_join.rename(columns={'genres_y':'genres'})

,user_id,item_id,item_name,playtime_forever,user_url,genres
0,76561197970982479,10,Counter-Strike,6,http://steamcommunity.com/profiles/76561197970...,Action
1,js41637,10,Counter-Strike,0,http://steamcommunity.com/id/js41637,Action
2,Riot-Punch,10,Counter-Strike,0,http://steamcommunity.com/id/Riot-Punch,Action
3,doctr,10,Counter-Strike,93,http://steamcommunity.com/id/doctr,Action
4,corrupted_soul,10,Counter-Strike,108,http://steamcommunity.com/id/corrupted_soul,Action
...,...,...,...,...,...,...
10474299,76561198107283457,354280,ChaosTower,164,http://steamcommunity.com/profiles/76561198107...,Indie
10474300,76561198107283457,354280,ChaosTower,164,http://steamcommunity.com/profiles/76561198107...,Simulation
10474301,inven,433920,Aveyond 4: Shadow Of The Mist,0,http://steamcommunity.com/id/inven,Adventure
10474302,inven,433920,Aveyond 4: Shadow Of The Mist,0,http://steamcommunity.com/id/inven,Indie
10474303,inven,433920,Aveyond 4: Shadow Of The Mist,0,http://steamcommunity.com/id/inven,RPG

In [ ]:
item

In [72]:
item_join_g = item_join.groupby(by=['user_id','genres']).sum().reset_index().sort_values(by=['playtime_forever'], ascending=False)
item_join_g

                     user_id      genres    item_id  playtime_forever
532519             clawbot44       Indie  114285840           3234176
532523             clawbot44  Simulation   68212560           3193032
188515     76561198064619260      Action   66980000           3099520
17060      76561197976652491      Action    7585760           2894928
504043             X03-Suits      Action  508364100           2883546
...                      ...         ...        ...               ...
84255      76561198041061206      Sports     253710                 0
366006     76561198108279452  Simulation     301520                 0
84243      76561198041061121         RPG      98010                 0
522530          blackeagle96      Sports     370510                 0
493433  TheOnlyTrueGamingGod      Sports     313400                 0

[668345 rows x 4 columns]

In [73]:
item_join_g.to_pickle('item_join_g.pkl')

In [11]:
item_join_g = pd.read_pickle('item_join_g.pkl')
item_join_g

                     user_id      genres    item_id  playtime_forever
532519             clawbot44       Indie  114285840           3234176
532523             clawbot44  Simulation   68212560           3193032
188515     76561198064619260      Action   66980000           3099520
17060      76561197976652491      Action    7585760           2894928
504043             X03-Suits      Action  508364100           2883546
...                      ...         ...        ...               ...
84255      76561198041061206      Sports     253710                 0
366006     76561198108279452  Simulation     301520                 0
84243      76561198041061121         RPG      98010                 0
522530          blackeagle96      Sports     370510                 0
493433  TheOnlyTrueGamingGod      Sports     313400                 0

[668345 rows x 4 columns]

In [28]:
genre='Action'
f4 = item_join_g.loc[item_join_g['genres']==genre].sort_values(by=['playtime_forever'], ascending=False)
f4 = f4.iloc[0:5,:]
f4.merge(items_data, on='user_id', how='left')

,user_id,genres,item_id,playtime_forever,user_url
0,76561198064619260,Action,66980000,3099520,http://steamcommunity.com/profiles/76561198064...
1,76561198064619260,Action,66980000,3099520,http://steamcommunity.com/profiles/76561198064...
2,76561197976652491,Action,7585760,2894928,http://steamcommunity.com/profiles/76561197976...
3,76561197976652491,Action,7585760,2894928,http://steamcommunity.com/profiles/76561197976...
4,X03-Suits,Action,508364100,2883546,http://steamcommunity.com/id/X03-Suits
5,X03-Suits,Action,508364100,2883546,http://steamcommunity.com/id/X03-Suits
6,X03-Suits,Action,508364100,2883546,http://steamcommunity.com/id/X03-Suits
7,asixCSGO,Action,45721600,2587488,http://steamcommunity.com/id/asixCSGO
8,asixCSGO,Action,45721600,2587488,http://steamcommunity.com/id/asixCSGO
9,76561198081666970,Action,164177010,2484801,http://steamcommunity.com/profiles/76561198081...
10,76561198081666970,Action,164177010,2484801,http://steamcommunity.com/profiles/76561198081...
11,76561198081666970,Action,164177010,2484801,http://steamcommunity.com/profiles/76561198081...